project_id = "ggvplltpwsnvtcbpazbe"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
port = 54327

[auth]
enabled = true
port = 54328
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://ggvplltpwsnvtcbpazbe.supabase.co"]
jwt_expiry = 3600
enable_signup = true

[edge_runtime]
enabled = true
port = 54329

[functions.unified-email-dispatcher]
verify_jwt = false

[functions.send-sms-notification]
verify_jwt = false

[functions.create-checkout]
verify_jwt = false

[functions.capture-payment-intent]
verify_jwt = false

[functions.add-booking-services]
verify_jwt = false

[functions.send-increment-notification]
verify_jwt = false

[functions.cancel-payment-intent]
verify_jwt = false

[functions.stripe-transactions-sync]
verify_jwt = false